<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Textadventure</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'textadventure/station.css' %}"/>
  
</head>
<body>

{% comment %} Musik {% endcomment %}
<!--<audio autoplay loop>
  <source src="{% static station.music %}" type="audio/mp3">
Your browser does not support the audio element.
</audio>-->

<div class="container"><!--container-->

    <div class="col-left">

        <div class="image-container"><!--image-container-->
            {% comment %} Bild einfügen {% endcomment %}
            {% if station.image %}
            <img src="{% static station.image %}" alt="My image">
            {% endif %}
        </div><!--image-container-->


        <div class="text-container"><!--savegame-->
        {% if station.name != "start" %}
            {% comment %} Speichern des Savegames {% endcomment %}
            <form action="{% url 'savegame' station.name %}" method="POST" >
            {% csrf_token %}
            <div class="choice-item">
                <input type="text" name="savegame_name" id="savegame_name" required>
            </div>
            <div class="choice-item">
                <input type="submit" name="savegame" value="Spiel speichern">
            </div>
            </form>
            <a href={% url "station-default" %} class="" >
                <div class="choice-item">
                    <p>Zurück zum Anfang</p>
                </div>
            </a>
        {% endif %}

        {% if station.name == "start" %}
            {% comment %} Anzeige des Savegames {% endcomment %}
            <h2>Spielstände</h2>
            
            {% for save in savegame %}
            <h3>{{save.name}}</h3>
            <ul>
               <li>
                    <a href="{{save.save_station}}" class="">
                        <div class="choice-item">
                            <p>Laden</p>
                        </div>
                    </a>
                </li> 
                <li>
                    <form action="{% url 'savegame' save.name %}" method="POST" >
                    {% csrf_token %}
                        <div class="choice-item">
                            <input type="submit" name="save_delete" value="Löschen">
                        </div>
                    </form>
                </li>
            </ul>
            {% endfor %}
            
        {% endif %}
        </div><!--text-container-->
    </div><!--col-left-->


    <div class ="col-right">
        <div class="text-container">
            <h1 class="">{{station.title}}</h1>

            <p class="">{{station.text}}</p>
            
            {% for item in station.inventoryitem_set.all %}
            {% if item.taken == False %}
            <p>
                {{item.text}}
            </p>
            {% endif %}
            {% endfor %}

        </div><!--text-container-->

        <div class="choice-container">

            {% if station.name != "start" %}

            <!--Items aufnehmen-->
            {% for item in station.inventoryitem_set.all %}
            {% if item.taken == False %}
            <form action="{% url 'take_item' item.name %}" method="POST" >
            {% csrf_token %}
            <div class="choice-item">
                <input type="submit" name="take_item" value="{{item.name}} aufnehmen">
            </div>
            </form>
            {% endif %}
            {% endfor %}
            
            {% endif %}


            {% if station.station_probability == False %}
            {% for choice in station.choice_set.all %}
            <a href="{{choice.next_station.name}}" class="">
                <div class="choice-item">
                    <p>{{choice.text}}</p>
                </div>
                </a>
            {% endfor %}
            {% endif %}

            {% if station.station_probability == True %}
            <a href="{{final_random_choice}}" class="">
                <div class="choice-item">
                    <p>Teste dein Glück</p>
                </div>
            </a>
            {% endif %}

        </div><!--choice-container-->

        <div class="text-container">
            <h3>Inventar</h3>
            <ul> 
            {% for inventoryitem in inventory %}
            {% if inventoryitem.taken == True %}
            <li>{{inventoryitem.name}}</li>
            {% endif %}
            {% endfor %}
            
        </div><!--text-container-->
        

    </div><!--col-right-->


</div><!--container-->

</body>
</html>
