{% block station-probability %}

<h5 class="card-title">{{station.title}}</h5>
<p class="card-text">{{station.text}}</p>
<a href="{{final_random_choice}}" class="">Teste dein Glück</a>

{% endblock %}