{% block station %}

<h5 class="">{{station.title}}</h5>
<p class="">{{station.text}}</p>

{% for choice in station.choice_set.all %}
<a href="{{choice.next_station.name}}" class="">{{choice.text}}</a>
{% endfor %}

{% endblock %}