/*col-left, col-right https://stackoverflow.com/a/50649314*/

@font-face {
    font-family: "JetBrains Mono Regular";
    src: url("JetBrainsMono-Regular.ttf");
}
@font-face {
    font-family: "LPDOSVGA";
    src: url("LessPerfectDOSVGA.ttf");
}
@font-face {
    font-family: "MPDOSVGA";
    src: url("MorePerfectDOSVGA.ttf");
}


a:link, a:visited, a:active {
    text-decoration: none;
    background-color: white;
    color: black;
    }
/*a:hover {
    color: white;
    background-color:black;
    }*/


input [type=submit] {
    
    }
input [type=submit]:hover {

    }

body {
    background-color: #0000a5;
    color: black;
    font-family: MPDOSVGA, monospace;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 5% 15% 5% 15%;
    background-color: #a5a5a5;
}

.col-left {
    flex-grow: 0;
    width: 60%;
    margin: 0.8% 0.4% 0.8% 0.8%;
    border: 2px solid black;
    }
.col-left img{
    max-width: 100%;
    }
.image-container {
    padding: 5%;
    text-align: center;
    border-bottom: 2px solid black;
    }
.savegame-container {
    }
.savegame-container li {
    display: inline-block;
    list-style-type: none;
    }

.col-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.8% 0.8% 0.8% 0.4%;
    border: 2px solid black;
    }

.text-container p, li {
    padding-left: 7.5%;
    padding-right: 7.5%;
    }
.text-container h1, h2, h3 {
    text-align: center;
    padding: 1% auto;
    margin: 0 auto;
    border-bottom: 2px solid black;
    }
.text-container h2 {
    border: none;
    }
.text-container h3 {
    border-top: 2px solid black;
    }
.text-container ul {
    padding-left: 0;
    list-style-type: none;
    /*list-style-type: symbols("-");*/
    }


.choice-container {
    display: inline-block;
    text-align: center;
    margin: 5% 0 10% 0;
    }
.choice-item {
    text-align: center;
    margin: 1% 0;
    }
.choice-item input[type=submit] {
    width: 100%;
    margin-bottom: 2.5%;
    background-color: white;
    color: black;
    font-family: MPDOSVGA, monospace;
    font-size: 1em;
    border: none;
    }
.choice-item input[type=submit]:hover {
    background-color: black;
    color: white;
    }
.choice-item p {
    background-color: white;
    color: black;
    }
.choice-item p:hover {
    background-color: black;
    color: white;
    }
.choice-item input[type=text] {
    width: 99%;
    font-size: 1.75em;
    margin-bottom: 2.5%;
    background-color: lightblue;
    border: none;
    font-family: MPDOSVGA;
    }





.colxx {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
